.main_Slider{
    margin: 0 auto;
    width: 70%;
    padding: 30px;
    position: relative;
}
.slick-prev:before, .slick-next:before{
    color: black;
}
.slick-next {
    right: -25px;
    top: -16px;
}
.slick-prev {
    left: 96%;
    
    top: -16px;
}